#loginStatement {
	padding-top: 10px;
}

.heading {
	text-align: center;
}

.Register {
	height: auto;
	margin-bottom: 20px;
}

.Register form {
	padding: 30px;
	border-radius: 15px;
	background-color: rgb(233, 236, 239);
}
